
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

  html, body, #root, .app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
  }

/*   
  .MuiInputBase-root  {
    background: #21295c !important;
    color: black
  }

  .MuiOutlinedInput-root  {
    background: #21295c !important;
    color: black
  }

  .MuiOutlinedInput-fullWidth  {
    background: #21295c !important;
    color: black
  }

  .css-hnc7so-MuiInputBase-root-MuiOutlinedInput-root {
    background: #21295c !important;
  }
 
   .MuiInputBase-colorPrimary {
    background: #21295c !important;
  }

  .MuiInputBase-formControl {
    background: #21295c !important;
  }
   */
  
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #7a7f9d;
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: #21295c;
  }

  /* Handle On Hover */
  ::-webkit-scrollbar-track:hover {
    background: #21295c;
  }